.DS_Store
.vscode/settings.json
/Andy_esp32/.github
/Andy_esp32/docker
/Andy_esp32/docs
/Andy_gguf/model
/Andy_gguf/Qwen3.5-2B-esconv
/Andy_gguf/tests
Andy_gguf/qwen35_2b_esconv.gguf
tmp/
components/
managed_components/
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
Andy_Latex/main.out
Andy_Latex/main.log
Andy_Latex/main.fls
Andy_Latex/main.fdb_latexmk
Andy_Latex/main.aux
Andy_Latex/main.xdv
*.ogg